[Unit]
Description=Alertmanager
After=network.target

[Service]
User=prometheus
ExecStart=/opt/alertmanager/alertmanager \
  --config.file=/opt/alertmanager/alertmanager.yml
Restart=always

[Install]
WantedBy=multi-user.target
